.theDisplay{
    display: flex;
    justify-content: center;
}
.theCounter{
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    margin-top: 25px;
    font-size: 45px;
    text-align: center;   
    border: 5px solid rgb(191, 209, 215);
    width: fit-content;
    padding: 15px;

    gap: 15px

}
.box{
    color: antiquewhite;
   
    
    
}
.clockIcon{
    color: antiquewhite;
    font-size: 40px;
    padding-top: 4px;
}